.movies{
    background-color: yellowgreen;
    padding: 0.5em 1em 0.5em 1.5em;
    margin: 1em;
    max-width: 16em;
}
.movies .movieListItem{
    font-size: 0.875em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: blue;
    padding: 0.3em;
    margin: 0.2em;
    text-align: left;
}
.selected{
    color: white;
    background-color: red !important; 
}
.parent{
    display: flex;
}
